.search-bar {
    position: absolute;
    width: 200px;
    left: 0;
    right: 0;
    top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
}

.search-input {
    position: relative;
    width: 70%;
    height: 40px;
    border-radius: 20px 0px 0px 20px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
}

.search-button {
    position: relative;
    border: none;
    border-radius: 0px 20px 20px 0px;
    width: 30%;
    background-color: rgb(230, 230, 230);
    transition: background-color 0.25s;
}

.search-button:hover {
    background-color: rgb(210, 210, 210);
}

.search-button:active {
    background-color: rgb(190, 190, 190);
}

.team-stats {
    width: 1200px;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.match-stats-container {
    border: 1px solid var(--lighter-background-color);
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    max-height: 250px;
    margin-top: 5px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    display: flex; /* turn the container into a flex container */
    justify-content: space-around; /* evenly distribute items along the line */
    flex-wrap: wrap;
    align-items: center; /* center items along the cross-axis */
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* animate border and shadow changes */
    overflow-y: auto;
    margin-bottom: 15px;
}

.match-content-selector {
    width: 200px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.selector {
    outline: none;
    height: 30px;
    width: 100px;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
}

.radar {
    font-size: 12px;
    transition: transform 0.25s;
}

.radar:hover {
    transform: scale(1.1);
}

.team-stat-header {
    font-size: 40px;
}

.team-average-header {
    font-size: 25px;
}

.team-match-header {
    font-size: 25px;
}