:root {
    --text-color: #E0E0E0; /* softer color for text */
    --background-color: #282828; /* softer color for background */
    --lighter-background-color: #383838; /* slightly lighter color for hover effects */
    --primary-color: #BB86FC; /* primary color */
    --secondary-color: #3700B3; /* secondary color */
    --accent-color: #03DAC6; /* accent color */
}

.container {
    border: 1px solid var(--lighter-background-color);
    width: 100%;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 4%;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    display: flex; /* turn the container into a flex container */
    justify-content: space-around; /* evenly distribute items along the line */
    flex-wrap: wrap;
    align-items: center; /* center items along the cross-axis */
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* animate border and shadow changes */
    position: relative;
    overflow-y: auto;
}

.container:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}


.table {
    width: 100%;
    border-collapse: collapse;
    position: absolute;
    top: 0px;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
    max-width: 200px;
    overflow: auto;
    font-size: 12px;
}

.table th {
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: left;
    background-color: #3d4a3c;
    color: white;
    position: relative;
}

.filter {
    display: inline-block;
    padding: 2px 7px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: grey;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.filter:hover {
    background-color: white;
    color: black;
}