:root {
    --text-color: #E0E0E0;
    /* softer color for text */
    --background-color: rgb(77, 131, 68);
    /* softer color for background */
    --lighter-background-color: #383838;
    /* slightly lighter color for hover effects */
    --primary-color: #06bd00;
    /* primary color */
    --secondary-color: #5e9545;
    /* secondary color */
    --accent-color: #5ea13c;
    /* accent color */
 
}

/* Add some spacing and center the content */
.container {
    display: flex;
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 4%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.charts {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 4%;
    border-radius: 10px;
    display: flex;
    align-items: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* evenly distribute items along the line */
    flex-wrap: wrap;
    /* center items along the cross-axis */
    /* animate border and shadow changes */

    padding: 20px;
}

.tabs {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tab {
    background-color: var(--background-color);
    filter: brightness(90%);    
    border: none;
    color: var(--text-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tab:hover {
    background-color: var(--lighter-background-color);
    color: var(--primary-color);
}